* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

/* 전체 위치 */
.title {
  position: absolute;
  top: 30%;
  left: 60px;
}

/* hover 텍스트 */
.hover-text {
  position: absolute;
  top: 0;
  left: 50%;

  font-size: 12px;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;

  white-space: nowrap;

  opacity: 0;
  transform: translateX(0);
  transition: all 0.6s ease;
}

/* hover 시 */
.trigger:hover ~ .hover-text {
  opacity: 1;
  transform: translateX(150px);
}

/* 한글 */
.kr {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600; /* semibold */
}

/* 영어 */
.en {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em; 
}
